body{
    margin: 0;
    width: 100vh;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: url(https://1.bp.blogspot.com/-GA4mQAXuuLE/XsA4aEtSGaI/AAAAAAAAr8k/UHhNalm0raQYaOWwWtM7jp-p8aERrZQ4gCLcBGAsYHQ/s1600/8.jpg);
}

#reloj{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: 10px solid #3f0b0d;
    color: #ffffff;
    border-radius: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}

h1{
    color: #ffffff;
    font-size: 4rem;
    font-family: monospace;
}