body{
    margin: 0;
    width: 100vh;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: #a7c5bd;
}

#reloj{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid #678c99;
    color: #ffffff;
    border-radius: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}

